doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://cdn.tailwindcss.com")
        title AveryDev
    body(style="background-color: #0E0B16; font-family: 'Montserrat', sans-serif;")
        nav(style="background-color: #4717f6", class="py-4 box-shadow justify-between flex items-center px-2 sm:px-4 md:px-[250px] xl:px-[500px]")
            a(href="/")
                h2(class="text-white font-bold text-2xl md:text-3xl lg:text-4xl") AveryDev
            ul(class="text-white underline")
                li(class="inline mr-4 hover:text-gray-300")
                    a(href='/blog', class) Blog
                li(class="inline hover:text-gray-300")
                    a(href='/contact', class) Contact

        section(class="hero text-gray-200 py-8 px-2 sm:px-4 md:px-[250px] xl:px-[500px]")
            p(class="text-4xl inline font-bold") Hello! I am 
            div(class="inline-block font-extrabold text-4xl text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-pink-600") Avery.
            p(class="mt-2") ===========================
            h3(class="text-xl mt-2") My Skills
            div(class="text-xs lg:text-sm")
                p(class="mt-2") - JavaScript, TypeScript, Python
                p - Node.js
                p - Selenium, Playwright, Flask, Express.js, Jest, Pytest
                p - SQL, MongoDB
            p(class="mt-2") ===========================
            h3(class="text-xl mt-2") My Best Projects
            p(class="mt-2") -&nbsp;
                a(class="underline text-pink-500 hover:text-pink-300 cursor-pointer", target="_blank", href="https://github.com/maciejoliwa/nov") The Nov Programming Language&nbsp;
                span(class="text-xs lg:text-sm") - a simple programming language that transpiles to JavaScript
            p -&nbsp;
                a(class="underline text-pink-500 hover:text-pink-300 cursor-pointer", target="_blank", href="https://github.com/maciejoliwa/harceli") Harceli&nbsp;
                span(class="text-xs lg:text-sm") - a JavaScript library for managing and monitoring your files in a project
            p -&nbsp;
                a(class="underline text-pink-500 hover:text-pink-300 cursor-pointer", target="_blank", href="https://github.com/maciejoliwa/jsonifable") Jsonifable&nbsp;
                span(class="text-xs lg:text-sm") - a Python library that allows to convert your custom datatypes to valid JSON
            p -&nbsp;
                a(class="underline text-pink-500 hover:text-pink-300 cursor-pointer", target="_blank", href="https://github.com/maciejoliwa/show-todos") Show Todos&nbsp;
                span(class="text-xs lg:text-sm") - a Clojure CLI program that lists all TODO comments in your codebase 
            p -&nbsp;
                a(class="underline text-pink-500 hover:text-pink-300 cursor-pointer", target="_blank", href="https://github.com/maciejoliwa/simple-game-engine") Simple Game Engine&nbsp;
                span(class="text-xs lg:text-sm") - a JavaScript web-based program, that I want eventually convert to a full 2D game engine
            p(class="mt-2") ===========================
            h3(class="text-xl mt-2") Wacky Links
            p(class="mt-2") -&nbsp;
                a(class="underline text-pink-500 hover:text-pink-300 cursor-pointer", target="_blank", href="https://github.com/maciejoliwa/") Github&nbsp;
                span(class="text-xs lg:text-sm") - Here you'll find all of my projects

    