doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://cdn.tailwindcss.com")
        title AveryDev
    body(style="background-color: #19052e; font-family: 'Montserrat', sans-serif;")
        nav(class="bg-violet-700 py-4 box-shadow justify-between flex items-center px-2 sm:px-4 md:px-[250px] xl:px-[500px]")
            a(href="/")
                h2(class="text-white font-bold text-4xl") AveryDev
            ul(class="text-white underline")
                li(class="inline mr-4 hover:text-gray-300")
                    a(href='/blog', class) Blog
                li(class="inline hover:text-gray-300")
                    a(href='/about', class) Contact

        section(class="hero py-16 px-2 sm:px-4 md:px-[250px] xl:px-[500px]")
            p(class="text-white text-2xl") Hello! I am Avery.
            p(class="text-white mt-2") JavaScript/TypeScript/Python Developer.
            hr(class="mt-4")
            p(class="text-gray-200 mt-2") I am mostly interested in solving real-life problems
    