doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap", rel="stylesheet")
        script(src="https://cdn.tailwindcss.com")
        link(rel="stylesheet", href="/css/post.css")
        title= `AveryDev - ${Title}`
    body(style="background-color: #0E0B16; font-family: 'Montserrat', sans-serif;")
        nav(style="background-color: #4717f6", class="py-4 box-shadow justify-between flex items-center px-2 sm:px-4 md:px-[250px] xl:px-[500px]")
            a(href="/")
                h2(class="text-white font-bold text-4xl") AveryDev
            ul(class="text-white underline")
                li(class="inline mr-4 hover:text-gray-300")
                    a(href='/blog', class) Blog
                li(class="inline hover:text-gray-300")
                    a(href='/contact', class) Contact

        section(class="hero py-8 text-gray-200 px-2 sm:px-4 md:px-[250px] xl:px-[500px]")
            header
                h2(class="text-4xl text-pink-500 py-2 font-bold")= Title
                p(class="mt-2")= Date
            p(class="mt-4", id="content")!= Content